body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #333333;
}

.container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  box-sizing: border-box;
  @media (max-width: 768px) {
    width: 100%;
    padding: 0 20px;
  }
}
